@page
@model Aplicacion.FrontEnd.Pages.ListaProductoModel
@{
}
<div class="row">
    <div class="p-3 mb-2 bg-light text-white">
<h1 class="text-secondary" >Productos</h1>
<a class="btn btn-success" asp-page="./EditarProducto">
    <i class="fa-regular fa-square-plus"></i><em> NUEVO PRODUCTO</em>
</a>
<table class="table">
    <th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
    </th>
    @foreach (var item in Model.produc)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Precio</td>
            <td>@item.Cantidad</td>
            <td>
                <a class="btn btn-outline-success" asp-page="./DetalleProducto" asp-route-ProductoId="@item.Id">
                    <i class="fas fa-info-circle"></i>
                </a>
                <a class="btn btn-outline-success" asp-page="./EditarProducto" asp-route-ProductoId="@item.Id">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                
            </td>
            
        </tr>
    }
</table>
    </div></div>