@page
@model Aplicacion.FrontEnd.Pages.DetalleConductorModel
@{
}
<h2>Detalle Conductor</h2>
<div>
    
        <div>
            Codigo: @Model.ConductorDetalle.Id
        </div>
        <div>
            Cedula: @Model.ConductorDetalle.Cedula
        </div>
        <div>
            Nombre: @Model.ConductorDetalle.Nombre
        </div>
        <div>
             Apellido: @Model.ConductorDetalle.Apellido
        </div>
        <div>
             Celular: @Model.ConductorDetalle.Celular
        </div>
 
</div>
<div><a href="./ListaConductor">Menu Principal</a></div>

